# TUMonline --> Google Calendar Converter
# Copyright 2011 by Janosch Maier
# Licensed under EUPL V.1.1
DirectoryIndex index.php
RewriteEngine on
RewriteRule ^(.*),(.*).ics$ https://campus.tum.de/tumonlinej/ws/termin/ical?pStud=$1&pToken=$2 [L]
